/* Tailwind css libraries */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom css */
/* Custom label above inputs */
.topsms-label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
}

/* Hide wp default labels */
.components-base-control__label {
  display: none !important;
}

/* Common input styling */
.topsms-input .components-text-control__input {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  min-height: 46px;
}
.topsms-input .components-text-control__input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px #3b82f6;
  outline: none;
}

/* Select dropdown */
.topsms-select .components-select-control__input {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  width: 100%;
}
.topsms-select .components-select-control__input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px #3b82f6;
  outline: none;
}

/* Password field */
.password-input .components-text-control__input {
  padding-right: 2.5rem;
}

/* Toggle control */
.topsms-toggle
  .components-form-toggle.is-checked
  .components-form-toggle__track {
  background-color: #3b82f6;
}

/* Button styling */
.topsms-button {
  background-color: #2563eb !important;
  color: white !important;
  border: none !important;
  padding: 0.75rem 1rem !important;
  border-radius: 1.5rem !important;
  font-weight: 500 !important;
  transition: background-color 0.2s !important;
  justify-content: center !important;
}
.topsms-button:hover:not(:disabled) {
  background-color: #1d4ed8 !important;
}
.topsms-button:disabled {
  background-color: #93c5fd !important;
  cursor: not-allowed !important;
}

/* Phone input field */
.topsms-phone-input {
  line-height: 2 !important;
  height: auto !important;
  padding: 8px 0px 8px 60px !important;
  width: 100% !important;
}
.topsms-phone-input .selected-flag .flag {
  left: 30% !important;
}
