/**
/* Header CSS */
/* .topsms-header-wrap .topsms-header-innerwrap {
  align-items: center;
  align-self: stretch;
  background: #f5f7ff;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.08);
  display: flex;
  gap: 16px;
  padding: 16px 32px;
}
.topsms-header-innerwrap .topsms-details {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.topsms-header-innerwrap .topsms-details h1 {
  align-self: stretch;
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: -0.6px;
  margin: 0;
}
.topsms-header-innerwrap .topsms-details span {
  align-self: stretch;
  color: #525866;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.028px;
}
.topsms-header-innerwrap .topsms-balance-wrap {
  align-items: flex-start;
  background: #f0f3ff;
  border-radius: 10px;
  border: 0.8px solid #e1e4ea;
  box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .topsms-balance-wrap .topsms-balance-details {
  align-items: center;
  align-self: stretch;
  background: #fff;
  border: 0.5px solid #e1e4ea;
  border-radius: 10px;
  box-shadow:
    0px 2px 6px 0px rgba(0, 0, 0, 0.04),
    0px 1px 2px -3px rgba(0, 0, 0, 0.03);
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 12px 14px;
}
.topsms-balance-details .topsms-balance {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.topsms-balance-details .topsms-balance h4 {
  color: var(--text-sub-600, #525866);
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
  margin: 0;
}
.topsms-balance-details .topsms-balance span {
  color: #15191e;
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.096px;
} */
/* .topsms-balance-details .topsms-topup {
  align-items: center;
  background: var(--bg-white-0, #fff);
  border: 0.8px solid var(--stroke-soft-100, #eceef2);
  border-radius: 100px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  display: flex; */
  /*height: 36px;*/
  /* gap: 4px;
  padding: var(--radius-10, 10px) 16px var(--radius-10, 10px) 12px;
} */
/* .topsms-topup a.topsms-topup-btn {
  color: #525866;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.028px;
  text-decoration: none;
}
.topsms-balance-wrap .topsms-message-wrap {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 6px 12px;
}
.topsms-balance-wrap .topsms-message-wrap span {
  color: var(--text-sub-600, #525866);
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.072px;
}
.topsms-balance-wrap .topsms-message-wrap span span.highlight-text {
  color: #335cff;
} */

/* Footer CSS */
.topsms-footer-wrap .topsms-footer-innerwrap {
  align-items: center;
  align-self: stretch;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 14px 28px;
}
.topsms-footer-innerwrap span.copy-right-text {
  color: var(--text-sub-600, #525866);
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
}
.topsms-footer-innerwrap .topsms-contact-info {
  align-items: center;
  display: flex;
  gap: 20px;
}
.topsms-footer-innerwrap .topsms-contact-info a {
  color: #646b7c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.42px;
  text-decoration: none;
}
.topsms-footer-innerwrap .topsms-contact-info a:first-child {
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* Sidebar CSS */
/* .topsms-page-wrap {
  align-items: flex-start;
  align-self: stretch;
  background: #ffffff;
  display: flex;
}
.topsms-page-wrap .topsms-sidebar {
  position: sticky;
  top: 20px;
}
.topsms-sidebar .topsms-sidebar-wrap {
  align-items: center;
  align-self: stretch; */
  /*border-right: 0.8px solid rgba(0, 0, 0, 0.10);*/
  /* background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 20px; */
  /*width: 240px;*/
/* }
.topsms-sidebar-wrap .topsms-sidebar-innerwrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.topsms-sidebar-innerwrap .sidebar-menulist {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.sidebar-menulist .menuitems-wrap {
  align-items: center;
  align-self: stretch;
  background: #ffffff;
  border-radius: 1000px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 12px 16px 12px 14px;
  transition: background 0.3s ease-in-out;
}
.sidebar-menulist .menuitems-wrap a.menuitem {
  color: #646b7c;
  flex: 1 0 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: -0.16px;
  text-decoration: none;
}
.sidebar-menulist .menuitems-wrap a.menuitem:focus {
  box-shadow: none;
}
.sidebar-menulist .menuitems-wrap span {
  align-items: center;
  background: #f5f5f5;
  border-radius: 100px;
  color: rgba(100, 107, 124, 0.7);
  display: flex;
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  line-height: 16.2px;
  letter-spacing: -0.48px;
  padding: 2px 8px;
}
.sidebar-menulist .menuitems-wrap.active,
.sidebar-menulist .menuitems-wrap:hover {
  background: #f0f3ff;
}
.sidebar-menulist .menuitems-wrap.active svg path,
.sidebar-menulist .menuitems-wrap:hover svg path {
  stroke: #335cff;
}
.sidebar-menulist .menuitems-wrap.active a.menuitem,
.sidebar-menulist .menuitems-wrap:hover a.menuitem {
  color: #335cff;
} */

/* Page Content CSS */
.topsms-page-wrap .topsms-page-content {
  align-items: flex-end;
  background: #fff;
  border-left: 0.8px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 60px;
  padding: 28px;
}
.topsms-page-content .topsms-content-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.topsms-content-wrap .page-title-detail {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /*height: 50px;*/
  justify-content: center;
}
.topsms-content-wrap .page-title-detail h4 {
  align-self: stretch;
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.6px;
  margin: 0;
}
.topsms-content-wrap .page-title-detail span {
  align-self: stretch;
  color: #525866;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.028px;
}
.topsms-content-wrap .page-details {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Automation Page CSS */
/* .page-details .topsms-automation-status-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
} */
/* .topsms-automation-status-wrap .topsms-accordion-wrap {
  border: 0.8px solid rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px 16px 12px 12px;
  width: -webkit-fill-available;
} */
/* .topsms-automation-status-wrap .topsms-status-wrap {
  align-items: center;
  align-self: stretch;
  background: #fff;
  border-radius: 12px; */
  /*border: 0.8px solid rgba(0, 0, 0, 0.07);*/
  /* display: flex;
  gap: 12px; */
  /*padding: 12px 16px 12px 12px;*/
/* } */
/* .topsms-status-wrap span.status {
  background: #727a8d;
  border-radius: 100px;
  height: 32px;
  width: 3px;
}
.topsms-status-wrap span.status {
  background: #727a8d;
  border-radius: 100px;
  height: 32px;
  width: 3px;
} */
/* .topsms-status-wrap span.status.status-processing,
.topsms-status-wrap span.status.status-draft {
  background: #17a34a;
}
.topsms-status-wrap span.status.status-completed {
  background: #365aed;
}
.topsms-status-wrap span.status.status-failed,
.topsms-status-wrap span.status.status-cancelled,
.topsms-status-wrap span.status.status-onhold {
  background: #ff3a44;
}
.topsms-status-wrap span.status.status-refunded {
  background: #6a6f7a;
}
.topsms-status-wrap span.status.status-pendingpayment {
  background: #f90;
} */
/* .topsms-status-wrap .status-detail-wrap {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  gap: 8px;
} */
/* .status-detail-wrap .status-detail {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}
.status-detail-wrap .status-detail h5 {
  align-self: stretch;
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.16px;
  margin: 0;
} */
/* .status-detail-wrap .status-detail span {
  align-self: stretch;
  color: #646b7c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.14px;
} */
/* .status-detail-wrap .status-control {
  align-items: center;
  display: flex;
  gap: 12px;
} */
/* .status-control .status-toggle-wrap {
  position: relative;
  box-sizing: border-box;
}
.status-control .status-toggle-wrap input.changestatus {
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.status-control .status-toggle-wrap label {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.status-control .status-toggle-wrap label:before {
  background: #ebebeb;
  border: 1px solid #ebebeb;
  border-radius: 100px;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  height: 24px;
  position: relative;
  transition: 0.2s ease-in;
  width: 44px;
}
.status-control .status-toggle-wrap label:after {
  background: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  height: 20px;
  left: 3px;
  position: absolute;
  top: 2px;
  transition: 0.2s ease-in;
  width: 20px;
  z-index: 2;
}
.status-control .status-toggle-wrap input.changestatus:checked + label:before {
  background: #335cff;
  border: 1px solid #335cff;
}
.status-control .status-toggle-wrap input.changestatus:checked + label:after {
  left: 22px;
  background: #ffffff;
}
.status-control .open-settings svg {
  cursor: pointer;
} */
/*.topsms-accordion-wrap .topsms-accordion-body-wrap {
	display: none;
}*/
/* .topsms-accordion-body-wrap .topsms-accordion-body {
  align-items: flex-start;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px;
} */
.topsms-accordion-body .settings-breadcrumbs {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}
.topsms-accordion-body .settings-breadcrumbs span {
  color: #525866;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.028px;
}
.topsms-accordion-body .settings-breadcrumbs span.current {
  color: #335cff;
}
.topsms-accordion-body .smstemplate-preview-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 17px;
}
.smstemplate-preview-wrap .smstemplate-wrap {
  align-items: center;
  border: 0.8px solid #eceef2;
  border-radius: 12px;
  display: flex;
  flex: 65%;
  flex-direction: column;
  gap: 44px;
  padding: 14px;
}
.smstemplate-wrap .smstemplate-detail {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.smstemplate-preview-wrap .template-title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}
.smstemplate-preview-wrap .template-title h4 {
  align-self: stretch;
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.48px;
  margin: 0;
}
.smstemplate-preview-wrap .template-title span {
  align-self: stretch;
  color: #525866;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.028px;
}
.smstemplate-detail .template-inputs-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.smstemplate-detail .template-inputs-wrap .template-input {
  align-items: flex-start;
  align-self: stretch;
  background: var(--bg-white-0, #fff);
  border: 0.8px solid #eceef2;
  border-radius: var(--radius-10, 10px);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
  display: flex;
  height: 137px;
  gap: var(--radius-8, 8px);
  padding: 16px;
}
.template-inputs-wrap .template-input .template-input-field {
  width: 100%;
}
.template-inputs-wrap .template-input textarea.template-input-field,
.template-inputs-wrap .template-input .template-input-field textarea {
  border: 0;
  font-family: 'Space Mono';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 137px;
  line-height: 18.9px;
  letter-spacing: -0.28px;
  padding: 0;
  resize: none;
  width: 100%;
}
.template-inputs-wrap .template-input textarea.template-input-field:focus,
.template-inputs-wrap .template-input .template-input-field textarea:focus {
  border: none;
  box-shadow: none;
  color: #525866;
  flex: 1 0 0;
  font-family: 'Space Mono';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.28px;
  outline: none;
}
.template-inputs-wrap
  .template-input
  textarea.template-input-field::-webkit-input-placeholder,
.template-inputs-wrap
  .template-input
  textarea.template-input-field:-ms-input-placeholder,
.template-inputs-wrap
  .template-input
  textarea.template-input-field:-moz-placeholder,
.template-inputs-wrap
  .template-input
  textarea.template-input-field::-moz-placeholder,
.template-inputs-wrap
  .template-input
  .template-input-field
  textarea::-webkit-input-placeholder,
.template-inputs-wrap
  .template-input
  .template-input-field
  textarea:-ms-input-placeholder,
.template-inputs-wrap
  .template-input
  .template-input-field
  textarea:-moz-placeholder,
.template-inputs-wrap
  .template-input
  .template-input-field
  textarea::-moz-placeholder {
  font-family: 'Space Mono';
}
.template-inputs-wrap .template-prefields-name {
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.template-inputs-wrap .template-prefields-name span {
  align-items: center;
  background: #f3f4f7;
  border-radius: 100px;
  border: 0.8px solid #eceef2;
  color: #525866;
  cursor: pointer;
  display: flex;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  justify-content: center;
  line-height: 17.55px;
  letter-spacing: -0.026px;
  padding: 6px 14px;
}
.smstemplate-wrap .smstemplate-actions {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}
.smstemplate-wrap .smstemplate-actions a.reset-btn,
.smstemplate-wrap .smstemplate-actions button.reset-btn {
  align-items: center;
  border-radius: 100px;
  border: 1px solid #e0e4ea;
  box-shadow: inset 0 0 0 1px #e0e4f6 !important;
  color: #516178;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
  height: auto;
  justify-content: center;
  line-height: 18.9px;
  letter-spacing: -0.028px;
  padding: 14px 20px;
  text-decoration: none;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.3s ease-in-out;
}
.smstemplate-wrap .smstemplate-actions a.save-settings-btn,
.smstemplate-wrap .smstemplate-actions button.save-settings-btn {
  align-items: center;
  background: #335cff;
  backdrop-filter: blur(50px);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px -4px 20px 0px rgba(255, 255, 255, 0.1) inset;
  color: #ffffff;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  height: auto;
  justify-content: center;
  line-height: 18.9px;
  letter-spacing: -0.028px;
  padding: 14px 20px;
  text-decoration: none;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.3s ease-in-out;
  width: 128px;
}
.smstemplate-wrap .smstemplate-actions a.reset-btn:hover,
.smstemplate-wrap .smstemplate-actions button.reset-btn:hover,
.smstemplate-wrap .smstemplate-actions a.save-settings-btn:hover,
.smstemplate-wrap .smstemplate-actions button.save-settings-btn:hover {
  transform: scale(1.03);
}
.smstemplate-wrap .smstemplate-actions a.reset-btn:hover,
.smstemplate-wrap .smstemplate-actions button.reset-btn:hover,
.smstemplate-wrap .smstemplate-actions a.save-settings-btn:hover,
.smstemplate-wrap .smstemplate-actions button.save-settings-btn:hover {
  transform: scale(0.97);
}
.smstemplate-preview-wrap .live-preview-wrap {
  align-items: flex-start;
  background: #fcfcfd;
  border-radius: 12px;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex: 35%;
  flex-direction: column;
  gap: 16px;
  padding: 14px;
}
.live-preview-wrap .live-smstemplate-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.live-smstemplate-detail .live-preview-data {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 0.4px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
}
.live-smstemplate-detail .live-preview-data .template-screen {
  align-items: flex-start;
  align-self: stretch;
  background: #ebeff5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 10px;
}
.live-smstemplate-detail .live-preview-data .smstemplate-data {
  align-items: flex-start;
  align-self: stretch;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}
.live-preview-data .smstemplate-data .template-content {
  align-items: flex-start;
  align-self: stretch;
  background: #ebeff5;
  border-radius: 0px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 14px;
}
.smstemplate-data .template-content span {
  align-self: stretch;
  color: #15191e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: -0.12px;
}
.live-preview-data .smstemplate-data .template-content-count {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}
.smstemplate-data .template-content-count span {
  color: #525866;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: -0.024px;
}
.topsms-content-404 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.topsms-content-404 .content-404 {
  background: url(../images/404.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
.topsms-content-404 .content-404 h4 {
  align-self: stretch;
  color: #646b7c;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.16px;
  margin: 0;
  text-align: center;
}

/* Settings Page CSS */
.page-details .balance-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}
.balance-wrapper .current-balance-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  padding: 14px 14px 16px 14px;
}
.balance-wrapper .current-balance-wrap h4 {
  color: #525866;
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.084px;
  margin: 0;
}
.balance-wrapper .current-balance-wrap span.totalbalance {
  color: #15191e;
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.144px;
}
.balance-wrapper .current-balance-wrap span.remainmessages {
  color: #525866;
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.072px;
}
.current-balance-wrap span.remainmessages span.highlight-text {
  color: #335cff;
}
.balance-wrapper .low-balance-wrap {
  align-items: center;
  align-self: stretch;
  background: #ffffff;
  border: 0.6px solid rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
}
.low-balance-wrap .low-balance-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.low-balance-wrap .low-balance-content h4 {
  color: #15191e;
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.9px;
  letter-spacing: -0.07px;
  margin: 0;
}
.low-balance-wrap .low-balance-content span {
  color: var(--text-sub-600, #525866);
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.072px;
}
.page-details .topup-balance-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background: #fcfcfd;
  border: 0.8px solid #eceef2;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 16px;
}
.topup-balance-wrapper .topup-amount-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.topup-amount-wrapper .topup-amount-title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.topup-amount-wrapper .topup-amount-title h4 {
  align-self: stretch;
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.48px;
  margin: 0;
}
.topup-amount-wrapper .topup-amount-title span {
  align-self: stretch;
  color: #525866;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: -0.028px;
}
.topup-amount-wrapper .topup-amount-list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.topup-amount-wrapper .topup-amount-list .topup-amount-items {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 8px;
}
.topup-amount-list .topup-amount-items .topup-item {
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  border: 0.8px solid rgba(0, 0, 0, 0.07);
  cursor: pointer;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 12px 14px;
}
.topup-amount-list .topup-amount-items .topup-item:hover,
.topup-amount-list .topup-amount-items .topup-item.active {
  background: #f5f7ff;
  border: 0.8px solid #335cff;
  box-shadow: 0px 0px 0px 2px rgba(51, 92, 255, 0.15);
}
.topup-amount-items .topup-item span.topup-amount {
  align-self: stretch;
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.16px;
}
.topup-amount-items .topup-item span.topup-message {
  align-self: stretch;
  color: #525866;
  font-feature-settings:
    'ss11' on,
    'cv09' on,
    'liga' off,
    'calt' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.072px;
}
.topup-balance-wrapper .topup-payment-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background: #fff;
  border: 0.6px solid rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.topup-payment-wrapper .payment-details-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.payment-details-wrap .payment-details-title {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}
.payment-details-wrap .payment-details-title h4 {
  color: #15191e;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.48px;
  margin: 0;
}
.payment-details-wrap .payment-details-title span {
  align-items: center;
  background: #e0fbea;
  border-radius: 100px;
  color: #17a34a;
  display: flex;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
  justify-content: center;
  letter-spacing: -0.12px;
  line-height: 16.2px;
  padding: 4px 10px 4px 6px;
}
.payment-details-wrap .payment-card-option {
  align-items: flex-start;
  display: flex;
  gap: 6px;
}
.payment-details-wrap .payment-card-option svg {
  fill: var(--Neutral-Colors-White, #fff);
  filter: drop-shadow(0px 0.5px 5px rgba(183, 183, 183, 0.08))
    drop-shadow(0px 5px 10px rgba(183, 183, 183, 0.08));
  stroke: var(--Neutral-Colors-400, #d6dce5);
  stroke-width: 0.25px;
}
.topup-payment-wrapper .card-details-wrap {
  display: flex;
  width: 100%;
}
.topup-payment-wrapper .card-details-wrap .payment-form-wrap {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.card-details-wrap .payment-form-wrap .card-form-row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 16px;
  width: 100%;
}
.payment-form-wrap .card-form-row .card-form-field {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 70px;
  width: 100%;
}
.payment-form-wrap .card-form-row .card-form-field label {
  color: #15191e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: -0.032px;
}
.payment-form-wrap .card-form-row .card-form-field .card-form-input {
  align-self: stretch;
  flex: 1 0 0;
}
.payment-form-wrap
  .card-form-row
  .card-form-field
  .components-base-control__field {
  margin: 0;
}
.payment-form-wrap .card-form-row .card-form-field .card-form-input input {
  align-items: center;
  align-self: stretch;
  background: #ffffff;
  border: 0.8px solid #eceef2;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
  color: #b0bac9;
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  height: 42px;
  line-height: 21.6px;
  letter-spacing: -0.032px;
  padding: 10px 14px;
}
.topup-balance-wrapper .topup-payment-form-submit {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.topup-balance-wrapper .topup-payment-form-submit button.components-button {
  align-items: center;
  align-self: stretch;
  background: #335cff;
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  box-shadow: 0px -4px 20px 0px rgba(255, 255, 255, 0.1) inset;
  color: #fff;
  display: flex;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  letter-spacing: -0.16px;
  padding: 14px 20px;
  text-align: center;
  width: 100%;
}
