/* Hide admin sidebar and header on setup page */
.toplevel_page_topsms-setup #wpcontent { 
    margin-left: 0 !important; 
}
.toplevel_page_topsms-setup #adminmenumain, 
.toplevel_page_topsms-setup #wpadminbar, 
.toplevel_page_topsms-setup #wpfooter { 
    display: none !important; 
}
.toplevel_page_topsms-setup #topsms-admin-app { 
    height: 100vh; 
}

.topsms_page_topsms-contacts-list .topsms-contacts-list-filter-input {
    float: left;
    margin-right: 6px;
    max-width: 12.5rem;
}

.order-status {
    display: inline-flex;
    line-height: 2.5em;
    color: #454545;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin: -.25em 0;
    cursor: inherit !important;
    white-space: nowrap;
    max-width: 100%;
}
.order-status>span {
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-status.status-processing {
    background: #c6e1c6;
    color: #2c4700;
}
.order-status.status-failed {
    background: #eba3a3;
    color: #570000;
}
.order-status.status-completed {
    background: #c8d7e1;
    color: #003d66;
}
.order-status.status-pending, 
.order-status.status-cancelled {
    background: #e5e5e5;
    color: #454545;
}

/* Cancel action button for campaigns */
.widefat .column-wc_actions a.cancel::after,
.widefat .wc-action-button-cancel::after {
    content: "\f335" !important;
    font-family: Dashicons;
    speak: never;
    font-variant: normal;
    text-transform: none;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.wc-action-button-cancel {
    color: #dc3232 !important;
    text-indent: -9999px;
    position: relative;
    padding: 0 !important;
    height: 2em !important;
    width: 2em;
    overflow: visible;
}
.wc-action-button-cancel:hover {
    color: #a00 !important;
}
.wc-action-button-cancel.cr-order-dimmed {
    cursor: help;
    opacity: 0.6;
    overflow: visible !important;
}
.wc-action-button-cancel.cr-order-dimmed:hover {
    z-index: 10000;
}
.wc-action-button-cancel.cr-order-dimmed:hover::before {
    content: attr(aria-label);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 10px;
    margin-top: 5px;
    z-index: 1000;
    text-indent: 0;
}